In [2]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split 
import sklearn.metrics as mc
import datetime

In [3]:
data=pd.read_csv("seattle-weather.csv")
data

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [4]:
data["weather"].unique

<bound method Series.unique of 0       drizzle
1          rain
2          rain
3          rain
4          rain
         ...
1456       rain
1457       rain
1458        fog
1459        sun
1460        sun
Name: weather, Length: 1461, dtype: object>

In [5]:
def month(text):
    return text[5:7]

data.insert(0,"month",value=data["date"].apply(month))

In [6]:
data.drop("date",inplace=True,axis=1)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   month          1461 non-null   object
 1   precipitation  1461 non-null   float64
 2   temp_max       1461 non-null   float64
 3   temp_min       1461 non-null   float64
 4   wind           1461 non-null   float64
 5   weather        1461 non-null   object
dtypes: float64(4), object(2)
memory usage: 68.6+ KB

In [8]:
data.isna().sum()

month            0
precipitation    0
temp_max         0
temp_min         0
wind             0
weather          0
dtype: int64

In [15]:
data.to_csv('data_with_city.csv', index=False)

In [9]:
classifier = RandomForestClassifier(n_estimators=100,random_state=1)
x=data.iloc[:,:-1]
y=data.iloc[:,-1]
x_train ,x_test  , y_train , y_test = train_test_split(x,y,test_size=0.2,shuffle=False)
classifier.fit(x_train,y_train)
y_predict = classifier.predict(x_test)
mc.accuracy_score(y_test,y_predict) * 100

86.00682593856655

In [10]:
month_2 = 12 #datetime.datetime.now().month
if month_2 in range(1,10):
    print(0)
    str_month = "0" + str(month_2)
    test = pd.DataFrame({"month":[str_month],"precipitation":[0],"temp_max":[30],"temp_min":[18],"wind":[15]})
    result = classifier.predict(test)
    print(result)
else:
    str1_month = str(month_2)
    test = pd.DataFrame({"month":[str1_month],"precipitation":[0],"temp_max":[30],"temp_min":[10],"wind":[15]})
    result = classifier.predict(test)
    print(result)

['sun']